In [1]:
import pandas as pd
import openpyxl as px
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.styles import Alignment
import xlsxwriter
from openpyxl.styles import PatternFill

In [2]:
read_file = pd.read_csv (r'C:\Users\pipel\OneDrive\Pulpit\druki.txt')

In [3]:
read_file.to_csv (r'C:\Users\pipel\OneDrive\Pulpit\druki_new.csv', index=None)

In [4]:
data=pd.read_csv (r'C:\Users\pipel\OneDrive\Pulpit\druki_new.csv', parse_dates=['data'])

In [5]:
data['czas']=data['godzina']*60+data['minuta']
data['koszt energii']=data['czas']*1.23/60
data['koszt materiału']=data['waga']*0.15
data['wycena']=0
data['zysk']=data['wycena']-data['koszt energii']-data['koszt materiału']
data_v2=data[['nazwa','drukarka','godzina','minuta','czas','waga','material','dysza','koszt energii','koszt materiału','wycena','zysk','data']]
data_v2

,nazwa,drukarka,godzina,minuta,czas,waga,material,dysza,koszt energii,koszt materiału,wycena,zysk,data
0,klocek,blixet,12,24,744,120,PLA,1.0,15.2520,18.0,0,-33.2520,2022-11-30
1,kolo,reprinter,4,32,272,344,ABS,0.6,5.5760,51.6,0,-57.1760,2022-08-23
2,Grzebien,blixet,3,23,203,254,Impact Pla,0.8,4.1615,38.1,0,-42.2615,2022-10-04

In [6]:
grouped_data=data_v2.sort_values(['drukarka'])
grouped_data

,nazwa,drukarka,godzina,minuta,czas,waga,material,dysza,koszt energii,koszt materiału,wycena,zysk,data
0,klocek,blixet,12,24,744,120,PLA,1.0,15.2520,18.0,0,-33.2520,2022-11-30
2,Grzebien,blixet,3,23,203,254,Impact Pla,0.8,4.1615,38.1,0,-42.2615,2022-10-04
1,kolo,reprinter,4,32,272,344,ABS,0.6,5.5760,51.6,0,-57.1760,2022-08-23

In [7]:
blixet_grouped_data=grouped_data.loc[grouped_data['drukarka']=='blixet']

In [8]:
reprinter_grouped_data=grouped_data.loc[grouped_data['drukarka']=='reprinter']

In [9]:
df_blixet=pd.DataFrame(blixet_grouped_data)
print(df_blixet)

      nazwa drukarka  godzina  minuta  czas  waga    material  dysza  \
0    klocek   blixet       12      24   744   120         PLA    1.0
2  Grzebien   blixet        3      23   203   254  Impact Pla    0.8

   koszt energii  koszt materiału  wycena     zysk       data
0        15.2520             18.0       0 -33.2520 2022-11-30
2         4.1615             38.1       0 -42.2615 2022-10-04

In [10]:
df_blixet=df_blixet.sort_values(by="data")
df_blixet

,nazwa,drukarka,godzina,minuta,czas,waga,material,dysza,koszt energii,koszt materiału,wycena,zysk,data
2,Grzebien,blixet,3,23,203,254,Impact Pla,0.8,4.1615,38.1,0,-42.2615,2022-10-04
0,klocek,blixet,12,24,744,120,PLA,1.0,15.2520,18.0,0,-33.2520,2022-11-30

In [11]:
df_reprinter=pd.DataFrame(reprinter_grouped_data)
df_reprinter=df_reprinter.sort_values(by="data")
df_reprinter

,nazwa,drukarka,godzina,minuta,czas,waga,material,dysza,koszt energii,koszt materiału,wycena,zysk,data
1,kolo,reprinter,4,32,272,344,ABS,0.6,5.576,51.6,0,-57.176,2022-08-23

In [12]:
where_start_for_reprinter=len(df_blixet.index)
reprinter_lenght=len(df_reprinter.index)
print(where_start_for_reprinter)

2

In [13]:
writer = pd.ExcelWriter('F:\praca_excel\drukarki_excel_v2.xlsx', engine='xlsxwriter')

In [14]:
df_blixet.to_excel(writer, sheet_name='projekty',startrow=1, index=False)

In [15]:
df_reprinter.to_excel(writer, sheet_name='projekty',startrow=where_start_for_reprinter+4, index=False)

In [16]:
writer.save()

In [25]:
wb=px.load_workbook('F:\praca_excel\drukarki_excel_v2.xlsx')
sheet=wb['projekty']
sheet.column_dimensions['G'].width=15
sheet.column_dimensions['I'].width=15
sheet.column_dimensions['J'].width=15
sheet.column_dimensions['L'].width=15
sheet.column_dimensions['M'].width=20
sheet.merge_cells(start_row=1, start_column=1, end_row=1, end_column=13)
sheet.merge_cells(start_row=where_start_for_reprinter+4, start_column=1, end_row=where_start_for_reprinter+4, end_column=13)
sheet.cell(row=1, column=1).value="blixet"
sheet.cell(row=where_start_for_reprinter+4, column=1).value="Reprinter"
sheet.cell(row=1, column=1).alignment = Alignment(horizontal="center")
sheet.cell(row=where_start_for_reprinter+4, column=1).alignment=Alignment(horizontal="center")
sheet.cell(row=1, column=1).fill=PatternFill(patternType="solid", fgColor="c64747")
sheet.cell(row=where_start_for_reprinter+4, column=1).fill=PatternFill(patternType="solid", fgColor="c64747")

for rows in sheet.iter_rows(min_row=2, max_row=where_start_for_reprinter+2, min_col=12, max_col=12):
    for cell in rows:
        cell.fill = PatternFill(fill_type = "solid", fgColor="03FCF4")

for rows in sheet.iter_rows(min_row=where_start_for_reprinter+5, max_row=where_start_for_reprinter+5+reprinter_lenght, min_col=12, max_col=12):
    for cell in rows:
        cell.fill = PatternFill(fill_type = "solid", fgColor="03FCF4")
        
wb.save('F:\praca_excel\drukarki_excel_v3.xlsx')